<!DOCTYPE html>
<html>
        <head>
            <title>FinFriends - Home</title>

            <meta charset="UTF-8" />
            <link rel="stylesheet" type="text/css" href="styles/home.css"/>

            <div class="top-page">
                <h1>FinFriends</h1>

                <nav class="navbar">
                    <ol>
                        <li><a href="/login">Login/Sign-up</a></li>
                        <li><a>Profile</a></li>
                        <li><a>Cart</a></li>
                    </ol>
                </nav>

            </div>

        </head>
        <body>
            <div class="home-img">
                <h2>Your one-stop shop for all your fin friend things!</h2>
                <button onclick="scrollToAboutUs()"><a style="text-decoration: none;" href="#about-us-section">About Us</a></button>
                    <script>
                        function scrollToAboutUs(){
                            document.getElementById("about-us-section").scrollIntoView({behavior: "smooth"});
                        }
                    </script>
            </div>
            
            <div class="article-items">
                <article>
                    <h2>Listing</h2>
                    <p>We have a variety of offerings: exotic fish, fish products, and more!</p>
                </article>
                <article>
                    <h2>Fish</h2>
                    
                    <p>Here are our collection of exotic pet fish!</p>
                </article>
                <article>
                    <h2>Item</h2>
                    <p>Check out this specific item!</p>
                </article>

            </div>
            <div class="about-us" id="about-us-section">
                <img src="/images/fish-stock-image.jpeg" />
                <p>We love fish.</p>

            </div>
        </body>
</html>