<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Loading Example</title>
</head>
<body>
    <h1>Image Loading Example</h1>
    
    <!-- Load an image -->
    <img src="../public/images/fishy.jpeg" alt="Example Image">

</body>
</html>
