<!DOCTYPE html>
<html>
    <!--<script src="login.js" defer></script> -->
        <head>
            <!-- need to do check of user for existence -->
            <title>login</title> 
            <meta charset="UTF-8" />
            <link rel="stylesheet" type="text/css" href="login.css"/>
            <div class="top-page">
                <h1>FinFriends</h1>
                <nav class="navbar">
                    <ol>
                        <li><a href="/login">Login/Sign-up</a></li>
                        <li><a>Profile</a></li>
                        <li><a>Cart</a></li>
                    </ol>
                </nav>

                
            </div>
            
        </head>
        <body>
          <div class = "login-container">
            <p>Login</p>
            <label for="username">Username:</label><br>
            <input type="text" id="username"><br><br>
            <label for="keypass">Password:</label><br>
            <input type="password" id="keypass"><br><br>
            <button onclick="login()">Login</button> <!--post needed from og-->
            </div>
        </body>
        <body>
          <div class="new-container">
            <p>New User? Create account</p>
            <label for="username">Username:</label><br>
            <input type="text" id="create-username"><br><br>
            <label for="keypass">Password:</label><br>
            <input type="password" id="create-keypass"><br><br>
            <label for="first_name">First Name:</label><br>
            <input type="text" id="first_name" user="first_name"><br><br>
            <p>Account Type</p>
            <form>
                <label for="customer">Customer</label>
                <input type="radio" id="customer" name="account-type" value="customer"><br>
                <label for="seller">Seller</label>
                <input type="radio" id="seller" name="account-type" value="seller">
            </form>
            <button onclick = "signup()">Create</button>
            </div>
        </body>
</html>
