<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../styles/login.css" />
    <meta charset="UTF-8" />
</head>
<body>
    <div class="top-page">
        <h1>FinFriends</h1>
        <nav class="navbar">
            <ol>
                <li><a href="/home?LoggedStatus=<%= encodeURIComponent(false) %>">Home</a></li>
                <li><a href="/listing?LoggedStatus=<%= encodeURIComponent(false) %>&admin=<%= encodeURIComponent(false) %>">Listing</a></li>
                <li><a>Cart</a></li>
            </ol>
        </nav>
    </div>

    <div class="login-container">
        <p>Login</p>
        <!-- Display error message if exists -->
        <% if (typeof error !== 'undefined' && error !== null) { %>
            <p class="error-message"><%= error %></p>
        <% } %>
        <form action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br><br>
            <label for="keypass">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit">Login</button>
        </form>        
    </div>
    <div class="new-container">
        <p>New User? <a href="/signup">Create account</a></p>
    </div>
</body>
</html>