<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
</head>
<body>
    <h1>Product Details</h1>
    <p>Fish Name: <%= fish.fish_name %></p>
    <p>Price: <%= fish.price %></p>
    <p>In Stock: <%= fish.in_stock %></p>
    <% if (isLoggedIn) { %>       
    <button id ="addtoCartButton" data-product-id=<%= fish.fish_id %>>Add to Cart</button>
    <% } else { %>
        <p>Please Log in to Add Items to Cart</p>
    <% } %>
   
</body>
</html>
