<!DOCTYPE html>
<html>
    <head>
        <title>Sign-Up</title>
        <link rel="stylesheet" type="text/css" href="../styles/signup.css" />
    
        <meta charset="UTF-8" />
    
        <div class="top-page">
            <h1>FinFriends</h1>
            <nav class="navbar">
                <ol>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/listing">Listing</a></li>
                    <li><a>Profile</a></li>
                    <li><a>Cart</a></li>
                </ol>
            </nav>
        </div>
    </head>
<body>
    <div class="signup-container">
        <p>Sign Up</p>
        <form id="signup-form" action="/signup" method="post" >
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br><br>
            <label for="keypass">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <label for="firstname">First Name:</label><br>
            <input type="text" id="firstname" name="firstname"><br><br>
            <label for="lastname">Last Name:</label><br>
            <input type="text" id="lastname" name="lastname"><br><br>
            <label for="address">Address Line 1:</label><br>
            <input type="text" id="addressline" name="addressline"><br><br>
            <label for="address">Address Line 2:</label><br>
            <input type="text" id="addressline2" name="addressline2"><br><br>
            <label for="city">City:</label><br>
            <input type="text" id="city" name="city"><br><br>
            <label for="city">State:</label><br>
            <input type="text" id="state" name="state"><br><br>
            <label for="zip">Zip/Postal Code:</label><br>
            <input type="text" id="zip" name="zip"><br><br>

            <button id="CheckFields" type="submit">Sign Up</button>
        </form> 
         
    </div>
    
    <script src="../middleware/signup.js" defer></script> <!-- Include login script -->
</body>
</html>