/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */

/* Top page container */
.top-page{
    color:black;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

/* Navbar styles */
.navbar {
    display: flex;
}

.navbar ol{
    list-style-type: none;
    padding:0;
    margin:0;
}

.navbar li{
    display: inline-block;
    margin-right:10px;
}

/* Page title */
h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Highlight table header */
table th {
    background-color: #333;
    color: #fff;
}

/* Alternate row background color */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Image styles */
td img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

/* Fish name styles */
td p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}